# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.NordicArena.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\project\NordicArena\.idea\.idea.NordicArena\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
